<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>

  <title>Document</title>
</head>
<body>


  <form method="POST">
    <input type="text" name="name" id="name"/>
    <input type="submit" id="submit-form" class="hidden" />
</form>

<label for="submit-form" tabindex="0">Submit</label>

<script>
  $('submit-form').on('click', function{

    let value = document.getElementById('name').value;
    $.ajax({
      url : '/login',
      type: 'POST',
      data:{
        name: value
      },
      success: function(msg) {
            alert('Email Sent');
        }
    });
  })
</script>
</body>
</html>




















