@layout('layouts/main')

@section('content')

<div class="container-sm mt-5">
    <div class="col=4">

        <form action="/start" method="post">
            <button type="submit" class="btn btn-success">START</button>
        </form>
    </div>
</div>

@endsection